<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <!--NavBar Start-->
    <nav class="navbar navbar-light navbar-expand-sm top-bar" role="navigation">
      <img class="site-icon" src="./favicon.ico" width="40" height="40" alt="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/index" routerLinkActive="active-button">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active-button">Projects</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="profile" routerLinkActive="active-button">Profile</a>
        </li> -->
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration" routerLinkActive="active-button">
            <fa-icon [icon]="faSignInAlt"></fa-icon>Sign Up
          </a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn nav-link log-button">
            <fa-icon [icon]="faSignInAlt"></fa-icon>Login
          </button>
        </li>
        <li class="nav-item">
          <form method="POST">
            <button class="btn nav-link log-button" type="submit" id="logout" value="Submit">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>Logout
            </button>
          </form>
        </li>
      </ul>
    </nav>
    <!--Navbar end-->
    <!-- Modal - Login Form -->
    <div class="modal fade centered-modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close float-right" id="close-login-modal-button" data-dismiss="modal"></button>
            <form action="" method="post" id="form-login">
              <div class="text-danger">error</div>
              <div class="form-group">
                <label for="user-name">Username</label>    
                <input type="text" name="user_name" id="user-name" class="form-control"  placeholder="Username" value=""/>
              </div>
              <div class="form-group">
                <label for="user_password">Password</label>    
                <input type="password" id="user-password" class="form-control" placeholder="Password"  value="" />
              </div>
              <div class="field-group">
                <input type="checkbox" name="remember" id="remember" checked />
                <label for="remember">Remember me</label>
                <button type="submit" class="btn btn-success float-right" value="Login">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- // Modal -->
  </body>
</html>
<router-outlet></router-outlet>
