<!-- Content Section -->
<div class="container">    
  <h1>Structure of site</h1>    
  <ul class="list-group">
    <li class="list-group-item"><strong>Projects page</strong> have list of Projects.</li>
    <li class="list-group-item"><strong>Project</strong> have list of all bugs.</li>
    <li class="list-group-item"><strong>Bug page</strong> have all information about bug.</li>
    <!-- <li class="list-group"> 
      <p class="list-group-item"><strong>Profile page</strong> have all inforpation about user.</p>
    </li> -->
    <li class="list-group-item"><strong>Registration page</strong> is the page where you can register yourself.</li>
    <li class="list-group-item"><strong>Learn more page</strong> -> you are here.</li>
  </ul>
</div>
<!--Content End-->