<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="row">
        <td class="text-center col-md-1"><fa-icon [icon]="faThumbtack"></fa-icon> id</td>
        <td class="text-center col-md-7"><a href="">project_name</a></td>
        <td class="text-center col-md-2"><a href="">assignet_to</a></td>
        <td class="text-center col-md-1">
          <button  onclick="" class="btn btn-warning">Update</button>
        </td>
        <td class="text-center col-md-1" >
          <button onclick="" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr class="row">
        <th class="col-md-12 text-center">Description <button onclick="" class="btn btn-warning">Edit</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row">
        <td class="col-md-12 bug-description">description</td>
      </tr>
    </tbody>
  </table>
  <!--Discription block -->
  <table class="table table-bordered table-striped table-hover">

  </table>
</div>

<!-- Bootstrap Modals -->
<!-- Modal - Add New Project bug -->
<div class="modal fade" id="add_new_projectbugs_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Bug</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="github_link">GIT link</label>
          <input type="text" id="github_link" placeholder="Git link" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="project_name_show">Project name</label>
          <input type="text" readonly="readonly" id="project_name_show" value="" class="form-control"/>
          <input type="hidden" readonly="readonly" id="project_name" value=""/>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" id="status" readonly="readonly" value="open" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="assignet_to">Assignet to</label>
          <input type="text" readonly="readonly" id="assignet_to" value="" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="description">Description</label>    
          <textarea style="resize:vertical;" id="description" class="form-control" rows="3" placeholder="Description of bug"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="">Add Bug</button>
      </div>
    </div>
  </div>
</div>
<!-- // Modal -->
<!-- Modal - Update details -->
<div class="modal fade" id="update_projectbugs_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Update</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="update_github_link">GIT link</label>
          <input type="text" id="update_github_link" placeholder="Git link" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="update_project_name">Project name</label>
          <input type="text" readonly="readonly" id="project_name_show" value="" class="form-control"/>
          <input type="hidden" readonly="readonly" id="update_project_name" value=""/>
        </div>
        <div class="form-group">
          <label for="update_assignet_to">Assignet to</label>
          <input type="text" id="update_assignet_to" value="" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="update_status">Status</label>
          <div class="selectContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select name="update_status" id="update_status" class="form-control selectpicker">
                <option disabled>Select Status</option>
                <option value="open">open</option>
                <option value="in test">in test</option>
                <option value="in work">in work</option>
                <option value="closed">closed</option>                
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="update_description">Description</label>    
          <textarea style="resize:vertical;" id="update_description" class="form-control" rows="3" value="" placeholder="Description of bug"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="" >Save Changes</button>
        <input type="hidden" readonly="readonly" id="hidden_projectbugs_id"/>
      </div>
    </div>
  </div>
</div>
<!-- // Modal -->